<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i>
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      {{ message }}</br>
      Here is your payment reference: {{ intent_id }}</br>
      For the amount of: $<span class="amount" data-amount="{{amount}}"></span>
    </div>
  </div>
</main>